In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
allcustomerchurn=pd.read_csv("H:/Decision Minds/folder1/AllCustomerChurnIndicator.csv",encoding="ISO-8859-1")
allcustomerchurn

,AccountNumber,AccountName,CompleteCustomerChurn
0,ACCT0000005,"WagerWorks, Inc.",1
1,ACCT0000006,OUHSC IT,0
2,ACCT0000011,Allstate Corporation,0
3,ACCT0000026,Clark County Nevada,0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0
...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0
3554,ACCT0079312,Westfield Labs Corp,0
3555,ACCT0079408,IBM IS&T,0
3556,ACCT0080144,Fujitsu - Frontoffice Center,0
3557,ACCT0080598,FX Innovation - Jean Coutu,0

In [3]:
accountmetrics=pd.read_csv("H:/Decision Minds/folder1/AccountMetrics.csv",encoding="ISO-8859-1")
accountmetrics

,AccountNumber,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM
0,ACCT0000005,"WagerWorks, Inc.",4,2,2,<Null>,0
1,ACCT0000006,OUHSC/IT,4,2,3,3,50
2,ACCT0000011,Allstate Corporation,3,2,1,1,22.22
3,ACCT0000026,Clark County Nevada,4,2,2,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",3,2,2,1,100
...,...,...,...,...,...,...,...
3552,ACCT0078498,Fujitsu - PersoPoint,1,2,2,1,100
3553,ACCT0079312,Westfield Labs Corp,1,2,1,<Null>,100
3554,ACCT0079408,IBM IS&T,1,2,1,1,100
3555,ACCT0080144,Fujitsu - Frontoffice Center,1,2,1,1,100
3556,ACCT0080598,FX Innovation - Jean Coutu,1,2,1,1,100

In [4]:
#merging allcustomercurn and accountmetrics
result1 = pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left')
result1

,AccountNumber,AccountName,CompleteCustomerChurn,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100
...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100

In [5]:
engagementsurveymetrics=pd.read_csv("H:/Decision Minds/folder1/EngagementSurveyMetrics.csv",encoding="ISO-8859-1")
engagementsurveymetrics

,AccountNumber,AccountName,OverallEngagementSatisfactionIndicator_SUM
0,ACCT0000026,Clark County Nevada,1
1,ACCT0000045,"Harley-Davidson, Inc.",1
2,ACCT0000058,Latham & Watkins LP,2
3,ACCT0000083,Qualcomm Incorporated,1
4,ACCT0000114,Toyota Motor Sales USA Inc,2
...,...,...,...
769,ACCT0066666,Midwich Ltd,1
770,ACCT0068036,Lockheed Martin EBS,1
771,ACCT0068692,CMG Corporate Services Inc,2
772,ACCT0068946,Victorinox AG,2
773,ACCT0072614,Relationship Management Consultants NV RMC,2

In [6]:
result2=pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left')
result2

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,OverallEngagementSatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN

In [7]:
itsaavgprice=pd.read_csv("H:/Decision Minds/folder1/ITSAAvgPrice.csv",encoding="ISO-8859-1")
itsaavgprice

     AccountNumber  FulfillerPriceCategoryIndicator  Unnamed: 2  Unnamed: 3
0      ACCT0000006                              1.0         NaN         NaN
1      ACCT0000011                              1.0         NaN         NaN
2      ACCT0000026                              2.0         NaN         NaN
3      ACCT0000029                              1.0         NaN         NaN
4      ACCT0000034                              1.0         NaN         NaN
...            ...                              ...         ...         ...
3406   ACCT0078498                              1.0         NaN         NaN
3407   ACCT0079312                              3.0         NaN         NaN
3408   ACCT0079408                              2.0         NaN         NaN
3409   ACCT0080144                              1.0         NaN         NaN
3410   ACCT0080598                              2.0         NaN         NaN

[3411 rows x 4 columns]

In [8]:
result3=pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left')
result3

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,FulfillerPriceCategoryIndicator
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,1.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,1.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,2.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,1.0
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,3.0
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,2.0
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,1.0
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,2.0

In [9]:
knowledgeeventmetrics=pd.read_csv("H:/Decision Minds/folder1/KnowledgeEventMetrics.csv",encoding="ISO-8859-1")
knowledgeeventmetrics

     AccountNumber  KnowledgeEventAttendeeCount
0      ACCT0015703                            1
1      ACCT0009147                            9
2      ACCT0003590                           11
3      ACCT0004990                            8
4      ACCT0003563                           19
...            ...                          ...
1146   ACCT0009389                            1
1147   ACCT0007202                            1
1148   ACCT0015850                            1
1149   ACCT0006200                            1
1150   ACCT0004461                            1

[1151 rows x 2 columns]

In [10]:
result4=pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
)
result4

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,FulfillerPriceCategoryIndicator,KnowledgeEventAttendeeCount
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,1.0,6.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,1.0,7.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,2.0,7.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,1.0,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,3.0,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,2.0,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,1.0,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,2.0,NaN

In [11]:
licensedadoptionmetrics=pd.read_csv("H:/Decision Minds/folder1/LicensedAdoptionMetrics.csv",encoding="ISO-8859-1")
licensedadoptionmetrics

,AccountNumber,AcctName,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator
0,ACCT0000006,OUHSC/IT,48.148,86.666,5,2
1,ACCT0000011,Allstate Corporation,51.851,93.333,5,2
2,ACCT0000026,Clark County Nevada,44.444,80,4,2
3,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",55.555,93.75,5,3
4,ACCT0000034,Edmunds.com Inc,25.925,46.666,2,2
...,...,...,...,...,...,...
3114,ACCT0075133,Moravian College,11.111,300,1,1
3115,ACCT0075902,TEKsystems - Regis,18.518,55.555,2,1
3116,ACCT0076973,BT ITS,29.629,88.888,3,1
3117,ACCT0076981,Deloitte Global Services Ltd,11.111,30,1,1
3118,ACCT0077830,ODH Inc,22.222,37.5,2,3

In [12]:
result5=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
),licensedadoptionmetrics,on='AccountNumber',how='left')
result5

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,FulfillerPriceCategoryIndicator,KnowledgeEventAttendeeCount,AcctName_y,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,1.0,6.0,OUHSC/IT,48.148,86.666,5.0,2.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,1.0,7.0,Allstate Corporation,51.851,93.333,5.0,2.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,2.0,7.0,Clark County Nevada,44.444,80,4.0,2.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,1.0,6.0,"AAA Northern California, Nevada & Utah Insuran...",55.555,93.75,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
npsmetrics=pd.read_csv("H:/Decision Minds/folder1/NPSMetrics.csv",encoding="ISO-8859-1")
npsmetrics

,AccountNumber,AccountName,ResponseRatePercent,NPSSatisfactionIndicator_SUM
0,ACCT0000011,Allstate Corporation,40,4
1,ACCT0000045,"Harley-Davidson, Inc.",25,4
2,ACCT0000051,International Financial Data Services (Canada)...,40,9
3,ACCT0000060,Life Time Fitness Inc,25,8
4,ACCT0000069,Nationwide Mutual Insurance Company,33.333,5
...,...,...,...,...
1173,ACCT0040687,Technae,50,4
1174,ACCT0040690,Burleigh Point Ltd,50,8
1175,ACCT0048683,Cognizant - NVIDIA,66.666,4
1176,ACCT0048820,Ikano SA,66.666,7
1177,ACCT0059075,Costco Travel,100,4

In [14]:
result6=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
),licensedadoptionmetrics,on='AccountNumber',how='left'),npsmetrics,on='AccountNumber',how='left')
result6

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,...,FulfillerPriceCategoryIndicator,KnowledgeEventAttendeeCount,AcctName_y,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName,ResponseRatePercent,NPSSatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,...,1.0,6.0,OUHSC/IT,48.148,86.666,5.0,2.0,NaN,NaN,NaN
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,...,1.0,7.0,Allstate Corporation,51.851,93.333,5.0,2.0,Allstate Corporation,40,4.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,2.0,7.0,Clark County Nevada,44.444,80,4.0,2.0,NaN,NaN,NaN
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,...,1.0,6.0,"AAA Northern California, Nevada & Utah Insuran...",55.555,93.75,5.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
supportsurveymetrics=pd.read_csv("H:/Decision Minds/folder1/SupportSurveyMetrics.csv",encoding="ISO-8859-1")
supportsurveymetrics

,AccountNumber,AccountName,OverallSupportSurveySatisfactionIndicator_SUM
0,ACCT0000006,OUHSC/IT,6
1,ACCT0000011,Allstate Corporation,6
2,ACCT0000026,Clark County Nevada,8
3,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",10
4,ACCT0000034,Edmunds.com Inc,15
...,...,...,...
1916,ACCT0072192,SAIC - JCC,7
1917,ACCT0072614,Relationship Management Consultants NV RMC,6
1918,ACCT0073287,Dell USA LP,6
1919,ACCT0074455,Isetan Mitsukoshi System Solutions Ltd,6
1920,ACCT0074922,Econocom-Osiatis France - Allianz,6

In [16]:
result7=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
),licensedadoptionmetrics,on='AccountNumber',how='left'),npsmetrics,on='AccountNumber',how='left'),supportsurveymetrics,on='AccountNumber',how='left')
result7

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,...,AcctName_y,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,...,OUHSC/IT,48.148,86.666,5.0,2.0,NaN,NaN,NaN,OUHSC/IT,6.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,...,Allstate Corporation,51.851,93.333,5.0,2.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,Clark County Nevada,44.444,80,4.0,2.0,NaN,NaN,NaN,Clark County Nevada,8.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,...,"AAA Northern California, Nevada & Utah Insuran...",55.555,93.75,5.0,3.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
usageindicator=pd.read_csv("H:/Decision Minds/folder1/UsageIndicator.csv",encoding="ISO-8859-1")
usageindicator

     AccountNumber  UsageRiskIndicator_SUM
0      ACCT0000006                       1
1      ACCT0000011                       0
2      ACCT0000026                       0
3      ACCT0000029                       0
4      ACCT0000034                       0
...            ...                     ...
3199   ACCT0076590                       0
3200   ACCT0076744                       0
3201   ACCT0076973                       0
3202   ACCT0076981                       6
3203   ACCT0077830                       0

[3204 rows x 2 columns]

In [18]:
result8=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
),licensedadoptionmetrics,on='AccountNumber',how='left'),npsmetrics,on='AccountNumber',how='left'),supportsurveymetrics,on='AccountNumber',how='left')
,usageindicator,on='AccountNumber',how='left')
result8

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,...,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,...,48.148,86.666,5.0,2.0,NaN,NaN,NaN,OUHSC/IT,6.0,1.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,...,51.851,93.333,5.0,2.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0,0.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,44.444,80,4.0,2.0,NaN,NaN,NaN,Clark County Nevada,8.0,0.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,...,55.555,93.75,5.0,3.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
communitymetrics=pd.read_csv("H:/Decision Minds/folder1/CommunityMetrics.csv")
com=communitymetrics[:2567]
com

     AccountNumber TotalActivityCount_SUM  Unnamed: 2
0      ACCT0000006                    848         NaN
1      ACCT0000011                    242         NaN
2      ACCT0000026                    547         NaN
3      ACCT0000029                    490         NaN
4      ACCT0000034                     10         NaN
...            ...                    ...         ...
2562   ACCT0077830                     77         NaN
2563   ACCT0078498                      1         NaN
2564   ACCT0079408                     29         NaN
2565   ACCT0080144                      1         NaN
2566           NaN                    NaN         NaN

[2567 rows x 3 columns]

In [20]:
result9=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(allcustomerchurn,
                  accountmetrics,
                 on='AccountNumber', 
                 how='left'),engagementsurveymetrics,on='AccountNumber',how='left'),itsaavgprice[['AccountNumber','FulfillerPriceCategoryIndicator']],on='AccountNumber',how='left'),knowledgeeventmetrics,on='AccountNumber',how='left'
),licensedadoptionmetrics,on='AccountNumber',how='left'),npsmetrics,on='AccountNumber',how='left'),supportsurveymetrics,on='AccountNumber',how='left')
,usageindicator,on='AccountNumber',how='left'),com[['AccountNumber','TotalActivityCount_SUM']],on='AccountNumber',how='left')
result9

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,...,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM,TotalActivityCount_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,...,86.666,5.0,2.0,NaN,NaN,NaN,OUHSC/IT,6.0,1.0,848
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,...,93.333,5.0,2.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0,0.0,242
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,80,4.0,2.0,NaN,NaN,NaN,Clark County Nevada,8.0,0.0,547
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,...,93.75,5.0,3.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0,0.0,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
result9

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM,AccountName_y,...,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM,TotalActivityCount_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,NaN,...,86.666,5.0,2.0,NaN,NaN,NaN,OUHSC/IT,6.0,1.0,848
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,...,93.333,5.0,2.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0,0.0,242
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,80,4.0,2.0,NaN,NaN,NaN,Clark County Nevada,8.0,0.0,547
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,...,93.75,5.0,3.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0,0.0,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
finalmerge = pd.DataFrame(result9)
finalmerge.to_csv('H:/Decision Minds/folder1/finalmerge.csv')

PermissionError: [Errno 13] Permission denied: 'H:/Decision Minds/folder1/finalmerge.csv'

In [ ]:
dataset=pd.read_csv("H:/Decision Minds/folder1/finalmerge.csv")
dataset